* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 80.5%;
}

body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    font-family: monospace;
    position: relative;
    z-index: 1;
    /* display: flex;
    flex-direction: column; */
    /* overflow: hidden; */
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* opacity: ; */
    object-fit: cover;
    z-index: -5;
    pointer-events: none;
}

.bg-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.301);
    z-index: -4;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.979); */
   

}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* height: 80vh; */
    
    
    /* background-color: rgba(81, 6, 6, 0.743); */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2em;
    color: white;
    padding: 1em;
    margin: 2rem;
    /* background-color: rgba(255, 255, 255, 0.163); */
    outline: 1px solid rgba(181, 180, 188, 0.325);
    /* padding: 0px; */

}

.square {
    display: grid;
    grid-template-columns: auto minmax(auto, 40rem) auto;
    column-gap: 2rem;
    grid-template-rows: .5fr 1fr 3fr;
    row-gap: 2rem;
    /* background-color: rgba(255, 255, 255, 0.173); */
    width: auto;
    height: auto;
    min-height: 0;
    max-width: 150rem;   /* max-width: 1200px; */
    margin: 2rem auto;
    /* outline: 1px solid rgba(176, 175, 173, 0.221);  */
    overflow: visible;

}



.pickOne,
.pickTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    font-size: clamp(1.1rem, 1.2vw + 0.6rem, 1.5rem);
    font-family: monospace;
    color: rgb(255, 255, 255);
    width: 10em;
    /* height: 10rem;  */
    max-height: 10rem;
    max-width: 1200px; 
    /* min-width: 300px;  */
    margin: 0;
    padding: 0px;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0);
    outline: 1px solid rgba(255, 255, 255, 0.464);


    cursor: pointer;
    /* backdrop-filter: blur;   */
}

/* .pickTwo {
    margin-right: 2rem;
} */

.vsWindow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    gap: clamp(1rem, 3vw, 1rem);
    color: white;
    font-size: clamp(1.1rem, 1.2vw + 0.6rem, 1.5rem);
    outline: 1px solid rgba(255, 255, 255, 0.506);
    width: 100%;
    /* height: 10rem; */
    max-width: 40rem;
    max-height: 10rem;
    /* min-width: 300px;  */
    margin: 0;
    padding: 1rem 2rem;
    box-sizing: border-box;

    /* border: 2px solid rgb(0, 255, 128);
    box-shadow: 0 0 10px rgb(1, 255, 115); */

}


.vsWindow.ready {
    /* box-shadow:
        0 0 16px rgba(255,255,255,0.4),
        0 0 40px rgba(0, 255, 128, 0.274), */
    border-color: rgba(255,255,255,0.8);
    border: 2px solid rgba(0, 255, 128, 0.349);

    filter:
        invert(0)
        drop-shadow(0 0 12px rgba(255, 128, 0,1))
        drop-shadow(0 0 25px rgba(255, 128, 0,.9))
        drop-shadow(0 0 45px rgba(255, 128, 0,.65));
    /* animation: breathe 1s ease-in-out infinite; */
}


/* .pickOne, 
.pickTwo,
.vsWindow,
.statWindow {
    margin: 2rem;
} */

.vsWindow > div {
    min-width: 0;
    text-align: center;
    word-break: break-word;
}

.champ1,
.champ2 {
    animation: glitchFlicker 3.5s linear infinite;
}

.card-zone {
    border: 1px solid rgba(255, 255, 255, 0.197);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;

    
    box-shadow:
        0 0 6px rgba(0 0 0 0.6,)
        inset 0 0 6px rgba(255,255,255,0.04);
    background: rgba(0, 0, 0, 0);
    /* filter:blur(.5); */

    transition:
        transform 0.25s ease
        box-shadow 0.25s ease
        border-color 0.25s ease
        background 0.25s ease;
    /* background-color: rgba(0, 0, 0, 0.473); */
}

.card-zone:hover {
    transform: scale(1.1);

    
    border: 2px solid rgba(136, 249, 124, 0.559);
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    z-index: 1;

    

    
}



.selected {
    border: 2px solid rgba(136, 249, 124, 0.724);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.446);
    
    filter:
        invert(0)
        drop-shadow(0 0 12px rgb(255, 174, 0))
        drop-shadow(0 0 25px rgba(255, 0, 0, 0.374))
        drop-shadow(0 0 45px rgba(255, 128, 0,.65)); 
     
    
    animation: breathe 1s ease-in-out infinite;
    
}



.statWindow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    /* gap: clamp(1rem, 3vw, 1rem); */
    color: white;
    font-size: 1.5rem;
    outline: 1px solid rgba(255, 255, 255, 0.498);
    /* width: 100%; */
    /* height: 40%; */
    /* max-width: 40rem; */
    /* min-width: 300px;  */
    /* margin: 2rem; */
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.placeholder-text {
    /* margin: 5rem; */
    animation: glitchFlicker 3.5s linear infinite;

}


.muBuild {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    /* gap: clamp(1rem, 3vw, 1rem); */
    color: white;
    font-size: 1.5rem;
    outline: 1px solid rgba(255, 255, 255, 0.498);
    /* width: 100%; */
    /* height: 40%; */
    /* max-width: 40rem; */
    /* min-width: 300px;  */
    /* margin: 2rem; */
    padding: 1rem 2rem;
    box-sizing: border-box;
}


.pickOne,
.pickTwo,
.vsWindow,
.statWindow,
.muBuild {
  border: 1px solid rgba(255,255,255,0.22);
  box-shadow:
    0 0 12px rgba(180,180,255,0.12),
    inset 0 0 10px rgba(255,255,255,0.06);
}


.pickOne:hover,
.pickTwo:hover,
.vsWindow:hover,
.card-zone:hover,
.statWindow:hover,
.muBuild:hover {
  box-shadow:
    0 0 18px rgba(255, 255, 255, 0.399),
    inset 0 0 12px rgba(255,255,255,0.1);
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 20vh;
    text-align: center;
    /* background-color: black; */
}



.main-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-size: 1em;
    margin: 0;
    flex-shrink: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.faq-nav {
    margin-left: auto;
}



.nav.zone.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.192);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 5rem;
    /* left: 50%;
    transform: translateX(-50%); */
}

.main-nav li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;
    /* text-shadow: 0 0 10px rgba(0, 255, 170, 0.8); */
}

/* .contact-nav {
    margin-left: auto;

} */



/* h1 {
    color: white;
    text-align: center;
   
    
} */

/* .rune-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 10%;
    
} */



form {
    display: grid;
    justify-content: center;
    color: white;
    text-align: center;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    font-size: 1em;
    margin-top: auto;
    /* left: 50%;
    transform: translateX(-50%); */
    /* border: solid rgba(21, 255, 0, 0.235); */
    backdrop-filter: blur(8px);

}

.footer ul {
    margin: 0;
    padding: 0;
}



li, li a {
    padding: 20px;
    color: white;
    
}




/* input {
   
} */


/* .grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350, 1fr));
} */
   

/* .vs-portraits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
    width: 100%;
    height: auto; 
    min-width: 50px; 
    max-height: 800px;
    max-width: 1500px;
} */












@keyframes breathe {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

@keyframes glitchFlicker {
    0%, 100% { opacity: 1; }
    20%      { opacity: 0.8; }
    22%      { opacity: 0.4; }
    24%      { opacity: 1;  }
    60%      { opacity: 0.4; }
    62%      { opacity: 1; }
}





.card-zone:hover {
    /* transform: scale(1.05); */
    /* box-shadow: 0 0 15px rgba(0, 255, 179, 0.4) */
}




.twitter-X img,
.twitch img,
.youtube img,
.instagram img,
.github img,
.discord img {
    height: 12px;
    width: 12px;
    display: inline-block;
    opacity: .5;
    filter: invert(1);

    transition:
        transform 0.25s ease,
        opacity 0.25s ease,
        filter 0.25s ease;
}


.twitter-X img:hover,
.twitch img:hover,
.youtube img:hover,
.instagram img:hover,
.github img:hover,
.discord img:hover {
    transform: scale(1.8);
    opacity: 1;

}



.twitch img:hover {
    filter: invert(1)
        
    drop-shadow(0 0 12px rgba(167, 108, 254,1))
    drop-shadow(0 0 25px rgba(167, 108, 254,.9))
    drop-shadow(0 0 45px rgba(167, 108, 254,.65));
}


.youtube img:hover {
    filter: invert(1)
        
    drop-shadow(0 0 12px rgba(255, 70, 70,1))
    drop-shadow(0 0 25px rgba(255,70,70,.9))
    drop-shadow(0 0 45px rgba(255,70,70,0.65));
}


.discord img:hover {
    filter: invert(1)
        
    drop-shadow(0 0 12px rgba(113, 70, 255,1))
    drop-shadow(0 0 25px rgba(113, 70, 255,.9))
    drop-shadow(0 0 45px rgba(113, 70, 255,0.65));
}

.twitter-X img:hover,
.github img:hover {
    filter: invert(1)
        
    drop-shadow(0 0 12px rgba(255, 255, 255))
    drop-shadow(0 0 25px rgba(255, 255, 255, 0.9))
    drop-shadow(0 0 45px rgba(255, 255, 255, 0.65));
}





.socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

/* .socials.footer {
    margin-top: auto;
} */

.socials a i,
.socials a img {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}


    





@media (max-width: 768px) {
    h3 {
        font-size: 10vh;
    }
    .form input {
        width: 100%;
    }
}



